<% provide(:page_title, @post.title) %>
<% provide(:post_active, 'active') %>

<div class="row">
  <div class="col-md-8">
      <div class="col-md-3">
          <div class="actions">
              <%= link_to 'Back', posts_path, class: 'btn btn-sm btn-secondary' %>
          </div>
      </div>
  </div>
</div>

<div class="row">
  
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">

    <h1><%= @post.title %></h1>
    <p><%= @post.display_day_created%></p>
    <%= @post.body.html_safe %>
  </div>
</div>


<div class="row">
  <%= render 'comments/comment' %>
</div>

